@model WebStore.ViewModels.EmployeeViewModel

<body class="container">
    <header>
        <a asp-controller="Employees" asp-action="Index">Go back ←</a>
        <h2>Employee #@Model.Id</h2>
    </header>

    <p>Name: <span>@Model.Name</span></p>
    <hr />
    <p>Surname: <span>@Model.Surname</span></p>
    <hr />
    <p>Patronymic: <span>@Model.Patronymic</span></p>
    <hr />
    <p>Age: <span>@Model.Age</span></p>
    <hr />
    <p>Score: <span>@Model.Score</span></p>
    <hr />
    <p>Position: <span>@Model.Position</span></p>
    <hr />
</body>
